@charset "UTF-8";
/**
 * [Table of contents]
 *   1 Base
 *     1.1 Reset Styles
 *     1.2 Context Styles
 *     1.3 Page layout
 *     1.4 Offsets
 *   2 Utilities
 *     2.1 Text styling
 *     2.2 Row spacing
 *     2.3 Sections
 *     2.4 Grid modules
 *     2.5 Backgrounds
 *     2.6 Utilities custom
 *   3 Components
 *     3.1 Typography
 *     3.2 Triangle
 *     3.3 Brand
 *     3.4 Badge custom
 *     3.5 Links
 *     3.6 Blocks
 *     3.7 Boxes
 *     3.8 Groups
 *     3.9 Responsive units
 *     3.10 Lists
 *     3.11 Images
 *     3.12 Icons
 *     3.13 Tables custom
 *     3.14 Dividers
 *     3.15 Buttons
 *     3.16 Forms
 *     3.17 Posts
 *     3.18 Quotes
 *     3.19 Thumbnails
 *     3.20 Testimonial
 *     3.25 Partners
*/

body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media (min-width: 768px) {
    body {
        line-height: 1.75;
    }
}

@media (min-width: 992px) {
    body {
        line-height: 1.75;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
[class^="heading-"] {
    margin-bottom: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    color: #26264b;
}

h1 a,
h1 a:focus,
h1 a:active,
h2 a,
h2 a:focus,
h2 a:active,
h3 a,
h3 a:focus,
h3 a:active,
h4 a,
h4 a:focus,
h4 a:active,
h5 a,
h5 a:focus,
h5 a:active,
h6 a,
h6 a:focus,
h6 a:active,
[class^="heading-"] a,
[class^="heading-"] a:focus,
[class^="heading-"] a:active {
    color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
[class^="heading-"] a:hover {
    color: #d90e90;
}

h1,
.heading-1 {
    font-size: 42px;
    line-height: 0.92857;
}

@media (min-width: 768px) {
    h1,
    .heading-1 {
        font-size: 63px;
    }
}

@media (min-width: 992px) {
    h1,
    .heading-1 {
        font-size: 98px;
    }
}

@media (min-width: 1200px) {
    h1,
    .heading-1 {
        font-size: 140px;
    }
}

h4 + h1,
.heading-4 + .heading-1 {
    margin-top: 25px;
}

@media (min-width: 1200px) {
    h4 + h1 {
        margin-top: 0;
    }
}

h2,
.heading-2 {
    font-size: 36px;
    line-height: 1.2;
}

@media (min-width: 992px) {
    h2,
    .heading-2 {
        font-size: 49px;
    }
}

@media (min-width: 1200px) {
    h2,
    .heading-2 {
        font-size: 70px;
    }
}

h6 + h2,
h6 + .heading-2,
.heading-6 + h2,
.heading-6 + .heading-2 {
    margin-top: 10px;
}

h3,
.heading-3 {
    font-size: 30px;
}

@media (min-width: 992px) {
    h3,
    .heading-3 {
        font-size: 42px;
    }
}

@media (min-width: 1200px) {
    h3,
    .heading-3 {
        font-size: 60px;
        line-height: 1.2;
    }
}

h6 + h3,
h6 + .heading-3,
.heading-6 + h3,
.heading-6 + .heading-3 {
    margin-top: 10px;
}

.heading-lg-postfix-15 {
    margin-right: -15px;
}

h4,
.heading-4 {
    font-size: 22px;
    font-weight: 600;
}

@media (min-width: 992px) {
    h4,
    .heading-4 {
        font-size: 26px;
    }
}

@media (min-width: 1200px) {
    h4,
    .heading-4 {
        font-size: 30px;
        line-height: 1.2;
    }
}

.badge-promo + h4,
.badge-promo + .heading-4 {
    margin-top: 30px;
}

h5,
.heading-5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
}

h5 .big,
.heading-5 .big {
    line-height: 1.2;
}

@media (min-width: 1200px) {
    h5 .big,
    .heading-5 .big {
        font-size: 24px;
    }
}

h6,
.heading-6 {
    letter-spacing: 0.2em;
    font-size: 16px;
    line-height: 1.2;
    color: #f09922;
}

.video-link + h6,
.video-link + .heading-6 {
    margin-top: 10px;
}

@media (min-width: 1200px) {
    .video-link + h6,
    .video-link + .heading-6 {
        margin-top: 20px;
    }
}

p [data-toggle="tooltip"] {
    padding-left: 0.25em;
    padding-right: 0.25em;
    color: #d90e90;
}

p [style*="max-width"] {
    display: inline-block;
}

.paragraph-inset-right-25 {
    padding-right: 25px;
}

* + p {
    margin-top: 15px;
}

p + p {
    margin-top: 12px;
}

figure + p {
    margin-top: 5px;
}

img + p {
    margin-top: 15px;
}

h2 + p,
.heading-2 + p {
    margin-top: 12px;
}

h3 + p,
.heading-3 + p {
    margin-top: 15px;
}

h5 + p,
.heading-5 + p {
    margin-top: 5px;
}

@media (min-width: 992px) {
    h3 + p,
    .heading-3 + p {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    h3 + p,
    .heading-3 + p {
        margin-top: 40px;
    }
}

::selection {
    background: #d90e90;
    color: #ffffff;
}

::-moz-selection {
    background: #d90e90;
    color: #ffffff;
}

/** @section Triangle */
.triangle-overlay,
.icon-rect-overlay,
.button-overlay,
.thumbnail-overlay,
.partner-overlay,
.section-swiper-content-overlay,
.video-link-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: solid rgba(255, 255, 255, 0.08);
    border-top-width: 74px;
    border-left: solid transparent;
    border-left-width: 212px;
    pointer-events: none;
}

/** @section Brand */
.brand {
    display: inline-block;
}

.brand .brand-logo-light {
    display: block;
}

.brand .brand-logo-dark {
    display: none;
}

/** @section Links */
a {
    transition: all 0.3s ease-in-out;
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
}

a,
a:focus,
a:active {
    color: #26264b;
}

a:hover {
    color: #d90e90;
}

/** @section Images */
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-responsive {
    width: 100%;
}

.images-box {
    display: inline-block;
    position: relative;
}

.images-box-item {
    display: inline-block;
}

.images-box-item img {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.images-box-item-left {
    position: absolute;
    left: 0;
    right: 35%;
    bottom: -20px;
    border-top: 20px solid #ffffff;
    border-bottom: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
}

@media (min-width: 768px) {
    .images-box {
        text-align: right;
    }
    .images-box-item-left {
        position: absolute;
        left: -90px;
        right: auto;
        bottom: -30px;
        border-width: 30px;
    }
}

@media (min-width: 992px) {
    .images-box {
        padding-left: 15px;
    }
    .images-box-item-left {
        left: -20px;
    }
}

@media (min-width: 1200px) {
    .images-box {
        padding-left: 0;
    }
    .images-box-item-left {
        left: -120px;
    }
}

/** @section Icons */
.icon {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.icon::before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

/** @section Buttons */
.button {
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    line-height: 1.25;
    border: 0;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    transition: 0.2s all ease-in-out;
    border-radius: 4px;
}

.button.button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.button.button-icon .icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    font-size: 1.55em;
    line-height: 1em;
}

.button.button-icon-left .icon {
    padding-right: 11px;
}

.button.button-icon-right {
    flex-direction: row-reverse;
}

.button.button-icon-right .icon {
    padding-left: 11px;
}

.button.button-icon.button-link .icon {
    top: 5px;
    font-size: 1em;
}

.button.button-icon.button-xs .icon {
    top: 0.05em;
    font-size: 1.2em;
    padding-right: 8px;
}

.button.button-icon.button-xs .button-icon-right {
    padding-left: 8px;
}

.button-block {
    display: block;
    width: 100%;
}

.button-default,
.button-default:focus {
    color: #cccccc;
    background-color: #2c343b;
    border-color: #2c343b;
}

.button-default:hover,
.button-default:active,
.button-default.active {
    color: #ffffff;
    background-color: #d90e90;
    border-color: #d90e90;
}

.button-default.button-ujarak::before {
    background: #d90e90;
}

.button-gray-100,
.button-gray-100:focus {
    color: #151515;
    background-color: #f4f2ee;
    border-color: #f4f2ee;
}

.button-gray-100:hover,
.button-gray-100:active,
.button-gray-100.active {
    color: #151515;
    background-color: #eae6df;
    border-color: #eae6df;
}

.button-gray-100.button-ujarak::before {
    background: #eae6df;
}

.button-primary,
.button-primary:focus,
.button-primary:active,
.button-secondary,
.button-secondary:focus,
.button-secondary:active {
    color: #ffffff;
    z-index: 1;
}

.button-primary:before,
.button-primary:after,
.button-primary:focus:before,
.button-primary:focus:after,
.button-primary:active:before,
.button-primary:active:after,
.button-secondary:before,
.button-secondary:after,
.button-secondary:focus:before,
.button-secondary:focus:after,
.button-secondary:active:before,
.button-secondary:active:after {
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 0.3s ease-out all;
}

.button-primary:after,
.button-primary:focus:after,
.button-primary:active:after,
.button-secondary:after,
.button-secondary:focus:after,
.button-secondary:active:after {
    opacity: 0;
}

.button-primary:hover,
.button-secondary:hover {
    color: #ffffff;
}

.button-primary:hover:after,
.button-secondary:hover:after {
    opacity: 1;
    z-index: -1;
}

.button-primary:before {
    background-image: -webkit-linear-gradient(left, #822ea8 0%, #d90e90 100%);
    background-image: linear-gradient(to right, #822ea8 0%, #d90e90 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF822EA8', endColorstr='#FFD90E90', GradientType=1);
}

.button-primary:after {
    background-image: -webkit-linear-gradient(left, #d90e90 0%, #822ea8 100%);
    background-image: linear-gradient(to right, #d90e90 0%, #822ea8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD90E90', endColorstr='#FF822EA8', GradientType=1);
}

.button-secondary:before {
    background-image: -webkit-linear-gradient(left, #ef7630 0%, #f09922 100%);
    background-image: linear-gradient(to right, #ef7630 0%, #f09922 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEF7630', endColorstr='#FFF09922', GradientType=1);
}

.button-secondary:after {
    background-image: -webkit-linear-gradient(left, #f09922 0%, #ef7630 100%);
    background-image: linear-gradient(to right, #f09922 0%, #ef7630 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF09922', endColorstr='#FFEF7630', GradientType=1);
}

/** @section Thumbnails */
.thumbnail {
    display: block;
    position: relative;
    max-width: 298px;
    margin-left: auto;
    margin-right: auto;
}

.thumbnail-overlay {
    border-top-color: rgba(217, 14, 144, 0.8);
    transform: scale(0.3);
    transform-origin: right top;
    opacity: 0;
    transition: 0.3s ease-out all;
}

.thumbnail:hover .thumbnail-overlay {
    opacity: 1;
    transform: scale(1);
}

.thumbnail-icon {
    position: absolute;
    right: 38px;
    top: 38px;
    width: 30px;
    height: 30px;
}

.thumbnail-icon:before,
.thumbnail-icon:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    opacity: 0;
    transition: 0.3s ease-out all;
}

.thumbnail-icon:before {
    transform: rotate(0);
}

.thumbnail-icon:after {
    transform: rotate(90deg);
}

.thumbnail:hover .thumbnail-icon:before,
.thumbnail:hover .thumbnail-icon:after {
    opacity: 1;
}

.thumbnail:hover .thumbnail-icon:before {
    transform: rotate(90deg);
}

.thumbnail:hover .thumbnail-icon:after {
    transform: rotate(0);
}

/** @section Quotes */
.quote {
    padding-top: 10px;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
}

.quote-text {
    position: relative;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.25;
    color: #26264b;
}

.quote-text:before {
    z-index: -1;
    content: "“";
    position: absolute;
    top: -40px;
    left: 50%;
    font-size: 200px;
    line-height: 170px;
    transform: translateX(-50%);
    color: #f8f7f4;
    font-weight: 900;
}

.quote-name {
    color: #d90e90;
    text-decoration: underline;
}

.quote-name:hover {
    text-decoration: none;
}

.quote-footer {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
}

* + .quote {
    margin-top: 30px;
}

* + .quote-footer {
    margin-top: 20px;
}

@media (min-width: 992px) {
    .quote-text {
        font-size: 30px;
    }
    * + .quote-footer {
        margin-top: 30px;
    }
}

@media (min-width: 1200px) {
    .quote-text {
        font-size: 40px;
    }
    * + .quote {
        margin-top: 50px;
    }
}

/** @section Partners */
.partner {
    z-index: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 270px;
    min-height: 208px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #ffffff;
    opacity: 0.3;
}

.partner:hover {
    opacity: 1;
}

.partner-overlay {
    z-index: -1;
    border-top-color: rgba(248, 247, 244, 0.6);
    transform: scale(0.3);
    transform-origin: right top;
    opacity: 0;
    transition: 0.3s ease-out all;
}

.partner:hover .partner-overlay {
    opacity: 1;
    transform: scale(1);
}

[class*="ie-"] .partner {
    height: 208px;
}
